<div class="overflow-hidden dark:bg-gray-900">
  <div
    class="w-auto h-[74vh] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-8 p-4 overflow-y-auto dark:text-white"
  >
    <div
      *ngFor="let station of filteredStations"
      class="dark:text-white transition-transform duration-300 ease-in-out transform hover:scale-105 shadow-md dark:bg-gray-800 dark:border-gray-700"
    >
      <mat-card class=" ">
        <mat-card-header class="dark:bg-gray-800 dark:border-none">
          <mat-card-title-group>
            <mat-card-title class="dark:text-white">{{
              station.name
            }}</mat-card-title>
            <mat-card-subtitle class="dark:text-gray-400">{{
              station.country
            }}</mat-card-subtitle>
            <img mat-card-md-image [src]="station.favicon" />
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="flex dark:bg-gray-800 dark:border-none">
          <div class="inline-flex items-center py-4 gap-2">
            <span
              class="bg-gray-300 dark:bg-gray-700 rounded-2xl px-3 py-2 dark:text-white"
            >
              {{ station.language | titlecase }}</span
            >
            <span
              class="bg-gray-300 dark:bg-gray-700 rounded-2xl px-3 py-2 dark:text-white"
              >Classical</span
            >
          </div>
          <div>
            <span
              class="bg-[#283db4] text-white dark:bg-gray-700 rounded-2xl px-3 py-2"
            >
              Votes: {{ station.votes | number }}
            </span>
          </div>
        </mat-card-content>

        <mat-card-actions
          class="flex justify-end dark:bg-gray-800 dark:border-none"
        >
          <div class="flex px-4 gap-4">
            <button
              mat-button
              (click)="toggleLike(station.stationuuid)"
              class="flex items-center justify-center gap-1 dark:text-white"
            >
              <mat-icon *ngIf="!likedStatus.get(station.stationuuid)"
                >favorite_border</mat-icon
              >
              <mat-icon
                *ngIf="likedStatus.get(station.stationuuid)"
                color="warn"
                >favorite</mat-icon
              >
              LIKE
            </button>

            <button
              mat-button
              (click)="togglePlayPause(station.stationuuid)"
              class="flex items-center justify-center gap-1 dark:text-white"
            >
              <mat-icon *ngIf="!playingStatus.get(station.stationuuid)"
                >play_arrow</mat-icon
              >
              <mat-icon
                *ngIf="playingStatus.get(station.stationuuid)"
                color="warn"
                >pause</mat-icon
              >
              PLAY
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div
    class="p-5 bg-[#283db4] text-white flex justify-between dark:bg-gray-800"
  >
    <div>
      <div class="flex items-center justify-center gap-4">
        <ng-container *ngIf="currentPlayingStationInfo">
          <div>
            <img
              [src]="currentPlayingStationInfo.favicon"
              alt="Station Favicon"
              class="h-8 w-8 rounded-full mr-2"
            />
          </div>
          <div class="dark:text-white">
            {{ currentPlayingStationInfo.name }}
          </div>
        </ng-container>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex items-center justify-center dark:text-white">
        <mat-icon>timer</mat-icon>
      </div>
      <div class="flex items-center justify-center dark:text-white">
        <mat-icon color="warn">favorite</mat-icon>
      </div>
      <div
        *ngIf="currentPlayingStation"
        class="flex items-center justify-center"
        (click)="togglePlayPause(currentPlayingStation)"
      >
        <mat-icon>{{ playPauseIcon }}</mat-icon>
      </div>
    </div>
  </div>
</div>
