<nav
  class="flex items-center justify-between bg-primary px-4 py-2 md:px-8 md:py-3"
>
  <!-- Menu and Brand Name -->
  <div class="flex items-center text-white">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="text-sm md:text-lg">Radio Station 23</span>
  </div>

  <!-- Theme Controls -->
  <div class="flex items-center gap-2 md:gap-8 text-white">
    <i class="material-icons text-base md:text-xl">wb_sunny</i>
    <mat-slide-toggle
      class="flex items-center"
      color="primary"
      [checked]="isLightMode"
      (change)="toggle($event)"
    ></mat-slide-toggle>
    <i class="material-icons text-base md:text-xl">nights_stay</i>
  </div>
</nav>
