/* Add these styles to your global styles or component styles */
.dark-mode {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  color: #ffffff; /* Light text color */

  .leaflet-popup-content-wrapper {
    background-color: #101010; /* Dark background color for popups */
    color: #ffffff; /* Light text color for popups */
  }

  .leaflet-popup-tip-container {
    background-color: #101010; /* Dark background color for popup tips */
  }
}
