<div class="flex">
  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <mat-label>Find by Country</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        (input)="filterItems('country')"
        [matAutocomplete]="autoCountry"
        (keyup.enter)="applyFilters()"
      />

      <mat-autocomplete
        #autoCountry="matAutocomplete"
        (optionSelected)="selectItem($event, 'country'); applyFilters()"
      >
        <mat-option
          *ngFor="let country of filteredCountries"
          [value]="country.name"
        >
          {{ country.name }} | Radio Stations:
          {{ country.stationcount }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <mat-label>Find by Language</mat-label>
      <input
        matInput
        [formControl]="languageControl"
        (input)="filterItems('language')"
        [matAutocomplete]="autoLanguage"
        (keyup.enter)="applyFilters()"
      />
      <mat-autocomplete
        #autoLanguage="matAutocomplete"
        (optionSelected)="selectItem($event, 'language'); applyFilters()"
      >
        <mat-option
          *ngFor="let language of filteredLanguages"
          [value]="language"
        >
          {{ language.name | titlecase }} | Radio Stations:
          {{ language.stationcount }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <mat-label>Search by Name</mat-label>

      <input
        matInput
        [formControl]="nameControl"
        (input)="filterItems('name')"
        [matAutocomplete]="autoName"
        (keyup.enter)="applyFilters()"
      />
      <mat-autocomplete
        #autoName="matAutocomplete"
        (optionSelected)="selectItem($event, 'name'); applyFilters()"
      >
        <mat-option *ngFor="let name of filteredNames" [value]="name">
          {{ name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
