<div class="flex">
  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <input
        matInput
        [formControl]="searchControl"
        placeholder="Find by Country"
        (input)="filterItems('country')"
        (focus)="onFocus('country')"
        [matAutocomplete]="autoCountry"
      />
      <mat-autocomplete
        #autoCountry="matAutocomplete"
        (optionSelected)="selectItem($event, 'country')"
      >
        <mat-option
          *ngFor="let country of filteredCountries"
          [value]="country.name"
        >
          {{ country.name }} | Radio Stations:
          {{ country.stationcount }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <input
        matInput
        [formControl]="languageControl"
        placeholder="Find by Language"
        (input)="filterItems('language')"
        (focus)="onFocus('language')"
        [matAutocomplete]="autoLanguage"
      />
      <mat-autocomplete
        #autoLanguage="matAutocomplete"
        (optionSelected)="selectItem($event, 'language')"
      >
        <mat-option
          *ngFor="let language of filteredLanguages"
          [value]="language"
        >
          {{ language.name | titlecase }} | Radio Stations:
          {{ language.stationcount }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div class="w-1/3 p-4">
    <mat-form-field class="w-full">
      <input
        matInput
        [formControl]="nameControl"
        placeholder="Search by Name"
        (input)="filterItems('name')"
        (focus)="onFocus('name')"
        [matAutocomplete]="autoName"
      />
      <mat-autocomplete
        #autoName="matAutocomplete"
        (optionSelected)="selectItem($event, 'name')"
      >
        <mat-option *ngFor="let name of filteredNames" [value]="name">
          {{ name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>
