<div
  class="w-full sm:w-[20vw] md:w-[15vw] lg:w-[12vw] min-h-screen sm:min-h-[93vh] pt-4 flex flex-col justify-between shadow-lg transition-all duration-500 ease-in-out"
>
  <div>
    <!-- Navigation Items -->
    <div *ngFor="let item of navigationItems" (click)="onLinkClick(item.label)">
      <div
        class="flex px-4 sm:px-6 py-2 sm:py-4 gap-3 hover:bg-gray-100 hover:cursor-pointer"
      >
        <div><i [class]="item.iconClasses"></i></div>
        <div>{{ item.label }}</div>
      </div>
    </div>

    <!-- Separator -->
    <hr class="px-4 sm:px-6 py-1 border-t border-gray-200" />

    <!-- Notifications -->
    <div class="px-4 sm:px-6 py-2 text-gray-500">Notifications</div>
  </div>

  <!-- About Section -->
  <div
    class="flex px-4 sm:px-6 py-2 sm:py-4 gap-3 hover:cursor-pointer"
    matTooltip="It is part of the project task completion round of Brain station 23"
  >
    <div><i class="fa fa-circle-info"></i></div>
    <div>About</div>
  </div>
</div>
